<h1>Sign Up</h1>
<%=form_tag '/create/experiences', method: 'post' do %>
	<label for="">Position:</label>
    <input type="text" name="position" id="">

    <label for="">Company:</label>
    <input type="number" name="company" id="">

    

    <button>Submit</button>
<% end %>
</form>

<a href="/"><button>Go Back</button></a>