<h1>Sign Up</h1>
<%=form_tag '/create/educations', method: 'post' do %>
	<label for="">Name:</label>
    <input type="text" name="name" id="">

    <label for="">Degree:</label>
    <input type="text" name="degree" id="">

    

    <button>Submit</button>
<% end %>
</form>

<a href="/"><button>Go Back</button></a>